{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Blog</title>
</head>

<body>
    {% for v in post %}
    <h1 class="pertama">{{v.title}}</h1>
    <h1 class="pertama">{{v.body}}</h1>
    {% endfor %}
    <a href='{% url "home:index" %}'>Home</a>
    <a href='{% url "home:blog" %}'>Blog</a>
    <h1 class="pertama">Hi, This's new project by 1174025_DezhaAidilMartha</h1>
    <br>
    <h1 class="kedua">This is a picture of Django</h1>
    <br>
    <h2>Django was created in the fall 2003</h2>
    <br>
    <h3>Django is a lightweight and standalone web server for development and testing</h3>
    <br>
    <a href="https://djangoproject.com" target="_blank">Now Lets Roll!</a>
    <br>
    <img style="width:100%" src="{% static 'images/django.png' %}" alt="">

</body>

</html>